/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Ensure the body takes up at least the full height of the viewport */
  }

  main {
    flex: 1; /* Make the main content area grow to fill the available space */
  }
  
  footer {
    margin-top: auto; /* Push the footer to the bottom */
  }
  


.service-buttons {
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
  }
  
  .service-button {
    text-align: center;
  }
  
  .service-button .icon {
    font-size: 48px;
    margin-bottom: 10px;
  }

  .container {
    width: 80%;
    margin: 0 auto;
    overflow: hidden;
  }
  
  header {
    background: #372b25;
    color: #fff;
    padding: 20px 0;
  }
  
  header h1 {
    float: left;
  }
  
  nav ul {
    float: right;
  }
  
  nav ul li {
    display: inline;
    margin-left: 20px;
  }
  
  nav ul li a {
    color: #fff;
    text-decoration: none;
  }
  
  .hero {
    background: url('/background\ image\ \(1\).jpg') center/cover;
    color: #fff;
    text-align: center;
    padding: 100px 0;
  }
  
  .hero h2 {
    margin-bottom: 20px;
  }
  
  .btn {
    display: inline-block;
    background: #372b25;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    transition: background 0.3s ease;
  }
  
  .btn:hover {
    background: #372b25;
  }


  .services {
    padding: 50px 0;
  }
  
  .service {
    text-align: center;
    margin-bottom: 30px;
  }
  
  .service i {
    font-size: 50px;
    margin-bottom: 20px;
    display: block;
  }

  
  footer {
    background: #372b25;
    color: #fff;
    text-align: center;
    padding: 20px 0;
  }

